body {
    font-family: Arial, sans-serif;
    background-color: rgb(153, 144, 144);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    /* Limite la largeur du conteneur */
    text-align: center;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    color: #0056b3;
}